<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/404.css">
    <title>Error. Página no encontrada</title>
</head>
<body>
    <div class="_404container">
        <h1 class="titulo">Parece que hubo un error...</h1>
        <div class="_404">La página que solicitaste no está disponible</div>
        <a href="/home">Volver al inicio</a>
    </div>
    
</body>
</html>