<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="css/aside.css">
    <link rel="stylesheet" href="css/publicaciones.css">
    <link rel="stylesheet" href="css/profile.css">
    <title>Perfil</title>
</head>
<body>
    <div class="row">
        <div class="col-4 aside-filler"></div> <!--Filler para el aside-->
        <aside class="col-4">
            <div>
                <a href="/home"><i class="fa-solid fa-book"></i><p>Texbook</p></a>
            </div>
            <div>
                <a href="/"><i class="fa-solid fa-user"></i><p>Perfil</p></a>
            </div>
            <div>
                <a href="/config"><i class="fa-solid fa-key"></i><p>Configuraciones</p></a>
            </div>
            <div>
                <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i><p>Finalizar sesión</p></a>
            </div>
        </aside>
        <section class="col">
            <div class="info-usuario"></div>
            <div class="publicaciones-usuario"></div>
            <div class="comentarios"></div>
        </section>
    </div>
    <script src="js/getUserId.js"></script>
    <script src="js/getPostId.js"></script>
    <script src="js/profile/infoUsuario.js"></script>
    <script src="js/profile/publicacionesUsuario.js"></script>
    <script src="js/publicaciones/publicacionLikes.js"></script>
    <script src="js/publicaciones/publicacionComentarios.js"></script>
    <script src="js/publicaciones/publicacionOpciones.js"></script>
    <script src="js/publicaciones/createPublicationCode.js"></script>
</body>
</html>