.chat-responsive-tab{
    display:none;
    position:absolute;
}
.chat-tab{
    display:block;
    position:fixed;
    right: 0;
    border-left: 1px solid #ddd;
    height: 100vh;
}

@media screen and (max-width: 900px) {
    .chat-tab, .chat-filler{
        display:none;
        position:absolute;
    }
    .chat-responsive-tab{
        display:block;
        position:relative;
    }
}

@media screen and (max-width: 650px) {
    .chat-tab, .chat-filler{
        display:none;
        position:absolute;
    }
    .chat-responsive-tab{
        display:block;
        position:relative;
    }
}